# Whitelist pattern https://jasonstitt.com/gitignore-whitelisting-patterns
*
!*/

# Add meta
!LICENSE
!README.md

# Add git & GitHub
!.git
!.gitignore
!.github/**

# Add Devcontainer
!.devcontainer/devcontainer.json
!.devcontainer/docker-compose.yml
!.devcontainer/Dockerfile

# Add Docker
!.dockerignore
!Dockerfile

# Add Devtools
!.vscode/**
!envgen.sh
!envgen.config

# Add config, credentials, and endpoints files along with domain and data folders from source
!src/config.yml
!src/credentials.yml
!src/endpoints.yml
!src/domain/**
!src/data/**